<!DOCTYPE html>
<html th:replace="layout/masterLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
<div class="container-fluid bg-light">
    <div class="container mt-5">
        <div class="row my-3 p-3">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <a style="color: red!important; text-decoration: none!important;" th:href="@{/cart/view-cart}">
                    <h3><i class="fas fa-cart-plus me-2 d-inline"></i>
                        <span class="badge bg-success" th:text="${cartSize}"></span></h3>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 p-5">
                <div class="card shadow rounded-5">
                    <img th:src="${book.imgUrl}" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-md-6 p-5">
                <h4 class="lead text-muted" th:text="${book.title}"></h4>
                <i class="lead text-muted" th:text="${'-by '+ book.author.authorName}"></i>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab excepturi maxime minus placeat quas quibusdam saepe sed similique? Alias delectus deleniti laudantium
                    perferendis quidem unde veniam! Impedit necessitatibus nulla perspiciatis.</p>
                <p class="lead">Price : <span th:text="${'$ '+ book.price}"></span></p>
                <p class="lead">Publisher : <span th:text="${book.publisher.publisherName}"></span></p>
                <div class="my-3">
                    <a th:href="@{'/cart/add-cart?id='+${book.id}+'&isbn='+${book.isbn}+'&page=details'}" class="btn btn-primary me-3">Add To Cart</a>
                    <a th:href="@{/book/list-books}" class="btn btn-success">Continue Shopping</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 p-5">
                <h4 class="lead text-muted" th:text="${book.title}"></h4>
                <i class="lead text-muted" th:text="${'-by '+ book.author.authorName}"></i>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab excepturi maxime minus placeat quas quibusdam saepe sed similique? Alias delectus deleniti laudantium
                    perferendis quidem unde veniam! Impedit necessitatibus nulla perspiciatis.</p>
                <p class="lead">Price : <span th:text="${'$ '+ book.price}"></span></p>
                <p class="lead">Publisher : <span th:text="${book.publisher.publisherName}"></span></p>
            </div>
            <div class="col-md-6 p-5">
                <div class="card shadow rounded-5">
                    <img th:src="${book.imgUrl}" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
</main>
</body>
</html>